.musicli {
    width: 100%;
    color: white;
    display: inline-block;
    padding: 5px 16px 5px 16px;
    background-color: #444857;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: left;

    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
    .musicli {
    }
}

.musicli > .img {
    flex-basis: 54px;
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 15px;
}

.musicli > .img > img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .musicli > .img {
        flex-basis: 92px;
        height: 92px;
    }
}

@media (max-width: 450px) {
    .musicli > .img {
        flex-basis: 40px;
        height: 40px;
    }
}

.musicli > .info {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    padding: 5px 0;
}

.musicli > .info > .top {
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    text-overflow: ellipsis;
    height: 20px;
    overflow: hidden;
    white-space: nowrap;
}

.musicli > .info > .bottom {
    font-size: 12px;
    line-height: 20px;
    margin-top: 4px;
}

.musicli > .info > .bottom .dot {
    display: inline-block;
    margin: 0 5px;
}

.musicli > .control {
    flex-basis: 90px;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    padding-top: 6px;
}

@media (max-width: 450px) {
    .musicli > .control {
        flex-grow: 1;
        justify-content: space-around;
        flex-basis: 100%;
        margin-top: 4px;
        border-top: 1px solid #3c3e47;
    }
}
